<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Configuration>
  <intial_verify>9nXMqcdpPVYoaoNPzmTUsg==</intial_verify>
  <intial_enabled>0</intial_enabled>
  <admin_general_lang>English</admin_general_lang>
  <admin_general_theme>Light</admin_general_theme>
  <admin_general_mode>LV6+NSz6/y+WToLLdXi7pQ==</admin_general_mode>
  <admin_central_server />
  <admin_central_auth />
  <admin_central_username />
  <admin_central_password />
  <integrity_lang_de>q2LBMvGGNWUWv+jcW+4MAgO7iwUM+zS8zjyvIFYa4xXESWMMrixERaksrA3kzULK</integrity_lang_de>
  <integrity_lang_en>GsY7YUnfZE4kbX+w7TZGZKLG4ygFxqpgtagGy9b9i0U04OXiwtm88sVBoZ7z7ojf</integrity_lang_en>
  <integrity_tools>OHsIPclDnlYu9t9El7221UQIr3EUmp49jVGJSj+KGmlwkgbSQEAeBr46bbdI8RN7</integrity_tools>
</Configuration>